<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Habanero" version="3.0.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net40" />
  <package id="Vukomanovic.RestoreDatabaseFromBackup.SqlServer" version="1.1.1" targetFramework="net40" />
</packages>